" {{ ansible_managed }}

{% for vim_set in vim_sets %}
{% if vim_set.value is none %}
set {{ vim_set.key }}
{% else %}
set {{ vim_set.key }}={{ vim_set.value }}
{% endif %}
{% endfor %}

{% for vim_parm in vim_parms %}
{% if vim_parm.value is none %}
{{ vim_parm.parm }}
{% else %}
{{ vim_parm.parm }} {{ vim_parm.value }}
{% endif %}
{% endfor %}
